.big_font {
  font-size: 60px;
  color: white;
  padding: 20px;
  text-align: center;
}

.header {
height: 90px;
width: 180px;
border-radius: 90px 90px 90px 90px;
-moz-border-radius: 90px 90px 90px 90px;
-webkit-border-radius: 90px 90px 90px 90px;
z-index: 1;
top: 3%;
position: relative;
margin-left: 20px;
text-align: center;
font-size: 1em;
padding-top: 5%;
font-family: 'Niconne', cursive;
line-height: 1.1;
}

a{
  text-decoration: none;
}

body {
  background: black;
  background-size: 100%
}