.big_font {
  font-size: 60px;
  color: white;
  padding: 20px;
  text-align: center;
}

.header {
height: 90px;
width: 180px;
border-radius: 90px 90px 90px 90px;
-moz-border-radius: 90px 90px 90px 90px;
-webkit-border-radius: 90px 90px 90px 90px;
background: rgba(255,255,255, 1);
z-index: 1;
top: 10px;
position: fixed;
margin-left: 20px;
text-align: center;
font-size: 15pt;
padding-top: 70px;
font-family: 'Niconne', cursive;
line-height: 1.1;
}

body {
  background: black;
  background-size: 100%
}